body {
    background-color: #F47C3F;
    font-family: sans-serif;
    color: black;
}

header h1 {  margin: 0}

header {
    background-color: #444444;
    color: #ccc;
    text-align: center;
    margin-top: 0;
    font-family: serif;
    border-radius: 5px;
    padding: 0.5em;
}

header ul {
    padding: 0; margin: 0;
    margin-top: 1em;
}

header li {
    font-weight: bold;
    color: white;
    display: inline;
    margin: 1em;
}

header, header a { color: #ccc; text-decoration: none }
header a:hover { text-decoration: underline }

section {
    padding: 2em;
    border-radius: 5px;
    background-color: #FFFFFD;
    margin:5px;
}

article { border-bottom: 1px solid #555 }

a { color: white }
section a { color: #F47C3F; }

article .tags span {
    border-radius: 1px;
    background-color: #d8d8d8;
    color: black;
    font-size: 0.8em;
    padding: 0.3em;
    border-radius: 5px;
    margin-right: 0.3em;
}

article .tags span:hover { background-color: #989898; cursor: pointer }

article .host { font-size: 0.6em }

footer { font-size: 0.7em; text-align: center }


.comment {
    margin: 10px;
    padding-left: 5px;
    border-left:1px solid #F47C3F;
}